@tailwind base;
@tailwind components;
@tailwind utilities;

html.large-text {
  font-size: 115%; 
}

.reduce-animation * {
    transition-duration: 100ms !important;
    animation-duration: 100ms !important;
    animation-iteration-count: 1 !important;
  }