@tailwind base;
@tailwind components;
@tailwind utilities;

.text-colors {
  @apply text-neutral-700 dark:text-neutral-200;
}

html.large-text {
  font-size: 115%; 
}

.reduce-animation * {
  transition-duration: 1ms !important;
  animation-duration: 1ms !important;
  animation-iteration-count: 1 !important;
}

.high-contrast *:not(img):not(svg) {
  filter: contrast(110%);
}

.high-contrast img, .high-contrast svg {
  filter: contrast(50%);
}

.high-contrast a, .high-contrast button {
  /* outline: 1px solid #808080; */
  box-shadow: 0 0 2px 1px #808080 inset;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

